@()(implicit r: Request[_])
<!DOCTYPE html>

<html>
<head>
    <title>Scala Chat Room</title>
    <link rel='stylesheet' href='@routes.Assets.at("lib/bootstrap/css/bootstrap.min.css")'>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    <script type='text/javascript' src='@routes.Assets.at("lib/jquery/jquery.min.js")'></script>
	<script type='text/javascript' src='@routes.Assets.at("javascripts/modernizr-3.5.0.js")'></script>
    <script type='text/javascript' src='@routes.Assets.at("javascripts/index.js")'></script>
</head>
<body data-url="@routes.HomeController.ws.webSocketURL()">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
				<span id="username" class="pull-left span2 formlabel"></span>

                <form id="chatform" class="navbar-form pull-right">					
                    <input id="chattext" type="text" size="50" class="span2">
                    <button type="submit" class="btn">OK</button>
					<label for="topicSelect" class="formlabel">select a topic</label>
					<select id="topicSelect"></select>
					<label for="addtopictext" class="formlabel">or create a new one</label>
					<input id="addtopictext" type="text" class="span2" placeholder="New Topic"> 
                </form>
            </div>
        </div>
    </div>

    <div id="chatrooms"></div>
</body>
        	
</html>
